
* { box-sizing: border-box; }

body {
  font-family: 'Rokkitt', serif;
}

img { max-width: 100%; }

main {
  background-image: url(../resources/freshmen-excel-bg.jpg);
  background-size: cover;
  padding: 3rem 0;
  width: 66%;
  height: 867px;
  float: left; 
  width: 70%;
  background-color: #f9f9f9;
}

aside{
  background-image: url(../resources/black-background-geometric-shapes.jpg);
  float: right; 
  margin: 0 auto;
  width: 30%;
  height: 867px;
	background-color: gray;
}

aside h1{
  color: #bbb;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

aside a{
  color: #bbb;
  font-size: 1rem;
  font-weight: normal;
}

.statement{
  padding: 25% 2rem;
  text-align: left;
}

.menu-icon{
	width: 1.5rem; 
	height: 1.5rem;
  margin: 10% 21rem;
}

.title-name {
  text-shadow: 4px 4px 8px rgba(0,0,0,0.8);
  margin: 0 5rem;
  color: white;
  font-style: serif;
}

nav {
  margin-top: 2rem;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 2rem;
  list-style: none;
}

nav ul li a {
  color: #bbb;
  font-size: 2rem;
  font-weight: normal;
  text-decoration: none;
}

nav ul li a:hover{
  color: #444;
}



.navbar {
  background-color: #853B37;
  height: 4.69rem; /* 75px */

  /* --------------------- */
  position: absolute;
  z-index: 10;
  top: 50rem;
  left: 0.49rem;
  right: 0.49rem;
  /* --------------------- */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: white;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #de4c26;
}

.featured-project1{
position: absolute;
margin: 54rem 0 0 0;
}

.featured-project2{
position: absolute;
margin: 54rem 0 0 705px;
}

.featured-project3{
position: absolute;
margin: 88.375rem 0 0 0;
}

.featured-project4{
position: absolute;
margin: 107.125rem 0 0 0;
}

.featured-project5{
position: absolute;
margin: 139rem 0 0 0;
}

.featured-project6{
position: absolute;
margin: 100.8rem 0 0 705px;
}

.featured-project7{
position: absolute;
margin: 119.55rem 0 0 705px;
}

.featured-projects img {
  max-width: 100%;

  transition: opacity 0.6s ease-in-out;
}

.featured-projects:hover img {
  opacity: .6;
}
/*
.featured-project1 figcaption {
  color: black;
  font-size: 3rem;
  padding-left: 2rem;
}

.featured-project1:hover figcaption {
  opacity: 1;
}
*/
figure{
  margin: 0;
}